
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-header">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                <a class="navbar-brand" href="#">TRAVELCATION</a>
                
            </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">packages
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">view/update</a></li>
            <li><a href="/packageinsert">insert</a></li>
          </ul>
        </li>
        <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">customer
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/viewuser">view/update</a></li>
                  <li><a href="#">insert</a></li>
                </ul>
              </li>
        <li><a href="#">Bookings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
    </div>
  </nav>  
