
<nav class="navbar navbar-inverse" role="navigation">

    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-header">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                <a class="navbar-brand" href="#"> SANCHARI</a>
                
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
        </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/main">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">packages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> mybookings</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <!-- <li><form action="/controllers/userlogout"> <button type="submit" class="glyphicon glyphicon-log-out">logout</button> </form></li> -->
              </ul>
            </div>
    
    </div>

    </nav>
