<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
        <style>
            body {
                 background-image: url("https://i.ytimg.com/vi/YhqL32rffb0/maxresdefault.jpg");
                 background-color: #cccccc;
                 width: 100%;
                 height: auto;
}
        </style>
    </head>
        <body>
        <% include ../partial/adminheader %>
        <div class="container-fluid">
               
        </div>
        
    </body>

</html>