<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<script src="script/script.js"></script>
<link rel="stylesheet" type="text/css" href="style/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
    body{
        background: rgb(226, 222, 222);
    }
    .modal-dialog{
    background-color: rgba(27, 27, 39, 0.616);
       }
    .btn-link{
    color:rgb(31, 117, 117);
    }
    .modal-heading{
    color:black;
    font-size: 20px;
    }
    form{
        background:rgba(224, 218, 218, 0.637);
    }
</style>
</head>
  <body>
        <!-- <% include ../partial/header %> -->
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-heading">
                        <h2 class="text-center">Login</h2>
                    </div>
                    <hr />
                    <div class="modal-body">
                        <form action="/controllers/authenticate-controller" method="POST" role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input type="text" name="email" class="form-control" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input type="password" name="password" class="form-control" placeholder="Password" />
        
                                </div>
        
                            </div>
        
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success btn-lg">Login</button>
                                
                                <a href="/reg" class="btn btn-link">not yet Registered?  sign up? </a>

                            </div>
        
                        </form>
                    </div>
                </div>
        </div>
  </body>
  </html>