<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <head>
            <style>
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }
                    
                    td, th {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }
                    
                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                    </style>
    </head> 
    <body>   
            <% include ../partial/adminheader %>
        <h1>USERS</h1>
        <div class="container">
        <table>
            <thead>
                    <tr>
                            <th>Name</th>
                            <th>Phone No</th>
                            <th>email</th>
                            <th>ADMIN OR NOT</th>
                    </tr>

            </thead>
         <tbody>
                <%for(var i=0;i<user.length;i++){%>
                        <tr>
                                <td><%=user[i].name%></td>
                                <td><%=user[i].ph_no%>Doe</td>
                                <td><%=user[i].email%></td>
                                <td><%=user[i].isadmin%></td>
                              </tr>
                        <%}%>
         </tbody>  
        
        </table>
        </div>
    </body>
    </html>